{% load static %}
/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');


/*Estilos Etiquetas html*/
.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /*le agrega a fuerzas el tamñao asignado por el uso de padding*/
}

body{
    margin: 0;
    /*
    contorno alrededor dl contenido > d izq-der
    */
    padding: 1%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background-color: #FFF;
    box-sizing: border-box;
    /*le agrega a fuerzas el tamñao asignado por el uso de padding*/
}

/*IR al INICIO de la PAGINA WEB*/
.ir-arriba {
    /*no se muestra el icono cuando esta al inicio*/
	padding:20px;
    /*relleno*/
	background: #0D33EA;
	/*tamaño de fuente*/
	font-size: 1.5em;
	/*color a fuente*/
	color: #fff;
	/*para tener el efecto de enlace*/
	cursor:pointer;
    /*posicion fija*/
	position: fixed;
    /*margen abajo*/
	bottom:20px;
    /*margen derecha*/
	right:20px;
}

#guardar {
    /*no se muestra el icono cuando esta al inicio*/
	padding:20px;
	/*para tener el efecto de enlace*/
	cursor:pointer;
    /*posicion fija*/
	position: fixed;
    /*margen abajo*/
	bottom:20px;
    /*margen derecha*/
    left: 50%;
}
#guardar span {
	margin: 5px;
}

#titulo, #subtitulo{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-style: italic;
}

/*Estilos cabecera*/
.welcome{
    background: #0D33EA;
    width: 100% auto;/*ancho*/
    height: 10%;/*alto*/
    text-align: center;
    padding: 0.2%;
    box-sizing: border-box;
    /*le agrega a fuerzas el tamñao asignado por el uso de padding*/
}

hr {
  height: 1px;
  border: 1px solid gray;
}

/*Botones bajo el conteo (FOTO)*/
button .icon-cool, button .icon-pencil2, button .icon-plus {
	margin-right: 8px;
    /*da un espacio entre el icono y el texto*/
}


/*MENU*/
.welcome nav {
    width: 100%;
	max-width: 100%;
	margin: 20px auto;
	background: #3B3B3B;
    box-sizing: border-box;/*le agrega a fuerzas el tamñao asignado por el uso de padding*/
}
.welcome nav ul {
	overflow: hidden;
	list-style: none;
}

.welcome nav ul li{
    float: left;
}

.welcome nav ul li a {
	color: #FFFFFF;
	padding: 15px;
    margin-left: 0px;
	display:block;
	text-decoration:none;
    box-sizing: border-box;
    /*le agrega a fuerzas el tamñao asignado por el uso de padding*/

}

.welcome nav ul li span {
	margin-right:15px;
    /*da un espacio entre el icono y el texto*/
    font-size: 1.2em;
}

.welcome nav ul li a:hover {
	background: #FFFFFF;
	color: #01579B;
    /*cambia el color del link al pasar el mouse*/
}

/*MODAL*/
.fade {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

button {
	width: 100% auto;
	white-space: normal;
}
button:hover {
	background-color: #000000;
	color: #FFFFFF;
    /*cambia el color del link al pasar el mouse*/
}


.borde{
	border-radius: 20px;
	background-color: #017CFF;
	color: #000000;
}
.borde2{
	border-left-color: #000000;
	border-left-style: dashed;
	border-left-width: 1px;
	border-right-color: #000000;
	border-right-style: dashed;
	border-right-width: 1px;
}
.borde3{
	border-radius: 20px;
	background-color: #017CFF;
}
footer {
	margin: 0;
    /*
    contorno alrededor dl contenido > d izq-der
    */
    padding: 1%;
	margin: 0 auto;
	font-family: 'Raleway';
	background: #3B3B3B;
	color: #F2F2F2;
	padding: 0.5em 2em;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;/*le agrega a fuerzas el tamñao asignado por el uso de padding*/
}

/*link a de paginacion*/
.pagination .step-links a{
	color: #5208FE;
}
/*link a de OLVIDE CLAVE*/
div .form-group a{
	color: #000000;
}
div .form-group a:hover{
	color: #5208FE;
}

#linkpaginas{
	color: #5208FE;
}

/*logo UTPL en el titulo
background-attachment: fixed; /*imagen fija
*/

#logo{
    font-family: 'Raleway';/*fuente*/
    background-image: url("../icon/UTPL-INSTITUCIONAL-FC.jpg"); /*imgen*/
	background-repeat: no-repeat; /*no repite la imgen*/
	background-size: cover;  /*imgen responsiva*/
}

/* Reglas Generales */
/*
img{
	display: block;
	max-width: 100%;
	height: auto;
}
*/
form button {
    max-width: 100%;
    height: auto; 
    cursor:pointer;
    font-size: 0.1em;
    margin-bottom: 5px !important;
}

/*Registro Salida IMG*/
.center {
	margin-top: 70% !important;
	background: #FFFFFF;
	box-sizing: border-box;/*le agrega a fuerzas el tamñao asignado por el uso de padding*/
}

/*Estilo para fuentes*/
h1{
	text-align: center;
	font-family: 'Arial';
}

h3{
	text-align: center;
}

/*Tamanio de Fuente*/
.font-5 {
	font-size: 	1.5em;
}
.font-4 {
	font-size: 1.2em
}
.font-3 {
	font-size: 1em
}
.font-2 {
	font-size: 0.8em
}
.font-1 {
	font-size: 0.5em
}
.font-peque {
	font-size: 	100%;
}
.font-medio {
	font-size: 200%;
}
.font-grande {
	font-size: 300%;
}


/*Colores*/
.celeste{
	background: #266DD2;
}
.azul{
	/*background: #01579B;*/
	background: #0D33EA;
}
.rojo{
	background: #F84339;
}
.dorado{
	background: #F5AC35;
}
.verde {
	background-color: #109D59;
}
.naranja {
	background-color: #FC6C2E;
}
.gris {
	background: #E0E0E0;
}
.gris2 {
	background: #3B3B3B;
}
.amarillo {
	background-color: #F3F210;
}
.negro {
	background: #000000;
}
.verde2 {
	background: #24E897;
}
.blanco {
	background: #FFFFFF;
}
.naranja2 {
	background: #EA731D;
}
.textblanco {
	color: #FFFFFF;
}
.textazul {
	color: #0D33EA;
}
.textnegro {
	color: #000000;
}
/*#tcn{
	background-color: #E0E0E0;
}*/
/* aside */

aside{
	color: #000000;
}

.titulo-aside {
	background-color: #E0E0E0;
	color: #000000;
	font-style: 'Raleway';
}

#galeria{
	background: #01579B;
	height: 100%;
}

/*ESTILOS para el segmento, de compartir*/
/* Facebook */
.facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.twitter {
    background: #55ACEE;
    color: white;
}
/* Twitter */
.instagram {
    background: #4c68d7;
    color: white;
}
/* whatsapp */
.whatsapp {
    background: #4AB315;
    color: white;
}
/* comparte */
.comparte {
    background: #D9B727;
    color: white;
}

